html, body {
    padding: 0;
    margin: 0;
}
#gameboard {
    height: 250px;
    width: 250px;

    border: 1px solid black;
}
#selection-window {
    position: absolute;
    height: 50px;
    width: 50px;
    transform: translate(-25px, -25px);
    border-radius: 50%;
    border: 1px solid red;
}